*, *:before, *:after {
    box-sizing: border-box;
}

.section{
    width: 100%;/*calc( ( 405px * 4 ));*/
    margin: auto;
    padding: 3em 0;
}
.items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;/*1500px;*/
    margin: auto;
}

.items img{
    transition: .8s opacity;
}

.items:hover img { opacity: 0.3; }
.items:hover img:hover { opacity: 1; } 

.loader-container{
    position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(102, 95, 92, 0.424);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

  
.loading-box{
    margin: auto;
    width: 75px;
    height: 75px;
    border: 10px solid rgb(37, 81, 177);
    transform: rotate(180deg);
    animation: roll 2s infinite ease-in;
}
  
.loading-inner-box{
    background: rgb(37, 81, 177);
    height: 10px;
    width: 65px;
    animation: fill 2s infinite ease-in;
}
  
@keyframes fill{
    0%{
      height: 0px;
    }
    40%{
      height: 65px;
    }
    60%{
      height: 65px;
    }
    100%{
      height: 0px;
    }
}
  
@keyframes roll{
    0%{
      transform: rotate(180deg);
    }
    40%{
      transform: rotate(180deg);
    }
    60%{
      transform: rotate(360deg);
    }
    100%{
      transform: rotate(360deg);
    }
}


@media screen and (min-width: 800px) {
    .section{
        width: calc( ( 405px * 2 ));
    }

    .items{
        max-height: 3000px;
    }
}